<ion-header>
<ion-navbar color="headers">
    <ion-buttons style="float:left">
        <button ion-button icon-only (click)="onOpenMenu()">
        <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
<ion-title style="float:right">Bookings</ion-title>
<ion-buttons end *ngIf="categories.length">
    <button ion-button small icon-only *ngIf="!((category_id==5 || category_id==6))" (click)="addOfflineBooking()" tooltip="add">
      <ion-icon name="add"></ion-icon>
    </button>
</ion-buttons>

</ion-navbar>
</ion-header>


<ion-content padding>

<!-- dynamically generating the categories -->
<ion-card *ngIf="!categories.length">
  <img src="assets/imgs/no-data-found.gif">
</ion-card>

<ion-segment [(ngModel)]="category_name" color="energy" *ngIf="categories.length">
   
    <ion-segment-button *ngFor="let category of categories" value={{category.module_name}} (click)="getBookings(category,true)">
    {{category.module_name}}
    </ion-segment-button>

</ion-segment>


<ion-buttons end *ngIf="categories.length">
  <button small ion-button clear (click)="filterBookings()" icon-end>
    <span *ngIf="filter_type=='online future'">Upcoming online bookings</span>
    <span *ngIf="filter_type=='online past'">Past online bookings</span>
    <span *ngIf="filter_type=='offline future'">Upcoming offline bookings</span>
    <span *ngIf="filter_type=='offline past'">Past offline bookings</span>
    <ion-icon name="options"></ion-icon>
  </button>
</ion-buttons>

<div [ngSwitch]="category_id">
<div *ngFor="let category of categories">
<ion-list *ngSwitchCase=category.module_id>

<ion-list-header *ngIf="bookings.length">
{{category.module_name}} Bookings
</ion-list-header>


<button ion-item *ngFor="let booking of bookings" (click)="goToBookingDetails(booking,category.module_id, booking.mode)">
<ion-thumbnail item-start>
<img src={{this.imageUrl+booking.cover_image}} alt="image">
</ion-thumbnail>

<div item-end *ngIf="category.module_id==2">
<h2>{{booking.banquet_name}}</h2>
<p>{{booking.mode}}</p>
  Booking Date: {{booking.book_from | date: 'MMM d yyyy'}}
</div>

<div item-end *ngIf="category.module_id==3">
<h2>{{booking.car_company_name}} - {{booking.car_model_name}}</h2>
<p>{{booking.mode}}</p>
  Booking Date: {{booking.time_from | date: 'MMM d yyyy'}}
</div>

<div item-end *ngIf="category.module_id==4">
<h2>{{booking.package_name}}</h2>
<p>{{booking.mode}}</p>
  Booking Date:  {{booking.booking_date | date: 'MMM d yyyy'}}
</div>

<div item-end *ngIf="category.module_id==5 || category.module_id==6">
  <h2>{{booking.package_plan_name}}</h2>
  <p>{{booking.mode}}</p>
    Booking Date: {{booking.booking_date | date: 'MMM d yyyy'}}
</div>

</button>

<p *ngIf="!next_page" text-center>
{{message}}
</p>

<ion-infinite-scroll *ngIf="next_page" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-list>
</div>
</div>
</ion-content>


