<ion-header>
<ion-navbar color="headers">
<ion-title>Bookings</ion-title>
<ion-buttons start>
<button ion-button icon-only (click)="onOpenMenu()">
<ion-icon name="menu"></ion-icon>
</button>
</ion-buttons>
</ion-navbar>
</ion-header>


<ion-content padding>

<!-- dynamically generating the categories -->
<ion-segment [(ngModel)]="category" color="energy">
<ion-segment-button *ngFor="let category of categories" value={{category.module_name}} (click)="getBookings(category,true)">
{{category.module_name}}
</ion-segment-button>
</ion-segment>

<ion-buttons end>
  <button small ion-button clear (click)="filterBookings()" icon-end>
    {{filter_type}}
    <ion-icon name="options"></ion-icon>
  </button>
</ion-buttons>

<div [ngSwitch]="category">
<div *ngFor="let category of categories">
<ion-list *ngSwitchCase=category.module_name>

<ion-list-header *ngIf="bookings.length">
{{category.module_name}} Bookings
</ion-list-header>


<button ion-item *ngFor="let booking of bookings" (click)="goToBookingDetails(booking,category.module_name, booking.mode)">
<ion-thumbnail item-start>
<img src={{this.apiUrl+booking.cover_image}} alt="image">
</ion-thumbnail>

<div item-end *ngIf="category.module_name=='Banquet Hall'">
<h2>{{booking.banquet_name}}</h2>
<p>{{booking.mode}}</p>
  Booking Date: {{booking.book_from | date: 'MMM d yyyy'}}
</div>

<div item-end *ngIf="category.module_name=='Car Rental'">
<h2>{{booking.car_company_name}} - {{booking.car_model_name}}</h2>
<p>{{booking.mode}}</p>
  Booking Time:  {{booking.time_from | date: 'MMM d yyyy'}}
</div>

<div item-end *ngIf="category.module_name=='Caterer'">
<h2>{{booking.package_name}}</h2>
<p>{{booking.mode}}</p>
Booking Time:  {{booking.booking_date | date: 'MMM d yyyy'}}
</div>

</button>

<p *ngIf="!next_page" text-center>
{{message}}
</p>

<ion-infinite-scroll *ngIf="next_page" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-list>
</div>
</div>
</ion-content>


