<ion-header>

  <ion-navbar color="headers">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="rg-wrp" padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
          <form novalidate  [formGroup]="signupform">
        <ion-item>
          <ion-label floating>Name <span style="color: red">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="userData.name"
          formControlName="name" [class.error1]="!signupform.controls.name.valid && signupform.controls.name.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( signupform.get('name').hasError('minlength') || signupform.get('name').hasError('maxlength') ||signupform.get('name').hasError('pattern') ||signupform.get('name').hasError('required') ) && signupform.get('name').touched">
          <div class="error" *ngIf="signupform.get('name').hasError('required') && signupform.get('name').touched">
            Please enter your name
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('minlength') && signupform.get('name').touched">
            Minimum 4 characters
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('maxlength') && signupform.get('name').touched">
            Maximum 30 characters
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('pattern') && signupform.get('name').touched">
            pattern Your name must contain alphabets and spaces only
          </div>
        </ion-item>
        <ion-item>
          <ion-label floating>Email id or Phone<span style="color: red">*</span></ion-label>
          <ion-input type="email" [(ngModel)]="userData.user"
          formControlName="user" [class.error1]="!signupform.controls.user.valid && signupform.controls.user.dirty"
          (keyup)="showVal(this.value)">
          </ion-input>
          <button *ngIf="!( signupform.get('user').hasError('minlength') || signupform.get('user').hasError('pattern') ||signupform.get('user').hasError('required') ) && !buttonClicked && otpButton" 
                      ion-button  clear item-right (click)="sendOtp()" ion-text color="light">Send OTP</button>
        </ion-item>
        <ion-item no-lines *ngIf="( signupform.get('user').hasError('minlength') || signupform.get('user').hasError('pattern') ||signupform.get('user').hasError('required') ) && signupform.get('user').touched">
          <div class="error" *ngIf="signupform.get('user').hasError('required') && signupform.get('user').touched">
            Please enter your email or phone
          </div>
          <div class="error" *ngIf="signupform.get('user').hasError('pattern') && signupform.get('user').touched">
            This value should be a valid email or valid phone no.
          </div>
        </ion-item>
        <ion-item *ngIf="buttonClicked">
          <ion-input  type="text" placeholder="Enter Six Digit Password"
          [(ngModel)]="userData.otp" formControlName="otp"  ></ion-input>
        </ion-item>
        <ion-item *ngIf="buttonClicked">
          <div class="error" *ngIf="signupform.get('otp').hasError('equalsTo') && signupform.get('otp').touched">
            Your OTP does not match
          </div>
          <div class="success" *ngIf="!(signupform.get('otp').hasError('equalsTo'))">
            Your OTP match successfully
          </div>
        </ion-item>
        <ion-item>
          <ion-label floating>Password <span style="color: red">*</span></ion-label>
          <ion-input type="password" [(ngModel)]="userData.password" clearOnEdit="false"
          formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
          <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
           Please enter your password
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
            This value is too short. It should have 6 characters or more.
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
            This value is too long. It should have 12 characters.
          </div>
        </ion-item>
        <ion-item>
          <ion-label floating>Confirm Password <span style="color: red">*</span></ion-label>
          <ion-input type="password" [(ngModel)]="userData.password_confirmation" clearOnEdit="false"
          formControlName="password_confirmation" [class.error1]="!signupform.controls.password_confirmation.valid && signupform.controls.password_confirmation.dirty"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="((( signupform.get('password_confirmation').hasError('minlength') || signupform.get('password_confirmation').hasError('maxlength')) || signupform.get('password_confirmation').hasError('equalTo')) ||signupform.get('password_confirmation').hasError('required') ) && signupform.get('password_confirmation').touched">
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('required') && signupform.get('password_confirmation').touched">
            Please enter your password confirmation
          </div>
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('minlength') && signupform.get('password_confirmation').touched">
            This value is too short. It should have 6 characters or more
          </div>
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('maxlength') && signupform.get('password_confirmation').touched">
            This value is too long. It should have 12 characters.
          </div>
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('equalTo') && signupform.get('password_confirmation').touched">
            Your passwords does not match
          </div>
        </ion-item>
        <button  ion-button block color="success" [disabled]="signupform.invalid" (click)="register()">Register</button><br/>
        <div class="alrdy-usr"><span>Already a user?</span> <a href="#" (click)="login()" ion-text color="buttons">Login Now.</a></div>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
