<ion-header>

  <ion-navbar color="headers">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="rg-wrp" padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
          <form novalidate  [formGroup]="signupform">

        <ion-item>
          <ion-label floating>Name <span style="color: red">*</span></ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <div *ngIf="signupform.get('name').hasError('minlength') || signupform.get('name').hasError('maxlength') || signupform.get('name').hasError('pattern') || signupform.get('name').hasError('required') || signupform.get('name').touched">
          <div class="error" *ngIf="signupform.get('name').hasError('required') && signupform.get('name').touched">
            Please enter your name.
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('minlength') && signupform.get('name').touched">
            Minimum 4 characters.
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('maxlength') && signupform.get('name').touched">
            Maximum 30 characters.
          </div>
          <div class="error" *ngIf="signupform.get('name').hasError('pattern') && signupform.get('name').touched">
            Your name must contain alphabets and spaces only.
          </div>
        </div>

        <ion-item>
          <ion-label floating>Email or Phone<span style="color: red">*</span></ion-label>
          <ion-input type="text" formControlName="user" (keyup)="showVal()">
          </ion-input>
          <button *ngIf="otpButton" ion-button  clear item-right (click)="sendOtp()" ion-text color="light">{{ otpStatus }}</button>
        </ion-item>
        <div *ngIf="signupform.get('user').hasError('pattern') || signupform.get('user').hasError('required') || signupform.get('user').touched">
          <div class="error" *ngIf="signupform.get('user').hasError('required') && signupform.get('user').touched">
            Please enter your email or phone no.
          </div>
          <div class="error" *ngIf="signupform.get('user').hasError('pattern') && signupform.get('user').touched">
            This value should be a valid email or valid phone no.
          </div>
        </div>

        <ion-item *ngIf="otpSent">
            <ion-label floating>6 digit OTP <span style="color: red">*</span></ion-label>
          <ion-input type="text" formControlName="otp"></ion-input>
        </ion-item>
        <div *ngIf="otpSent || signupform.get('otp').hasError('required')">
          <div class="error" *ngIf="signupform.get('otp').hasError('required') && (signupform.get('otp').dirty || signupform.get('otp').touched)">
              Please enter six digit OTP.
          </div>
          <div class="error" *ngIf="signupform.get('otp').hasError('equalsTo') && !signupform.get('otp').hasError('required')">
            Your OTP does not match.
          </div>
        </div>

        <ion-item>
          <ion-label floating>Password <span style="color: red">*</span></ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="(signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
          <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
           Please enter your password.
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
            This value is too short. It should have 6 characters or more.
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
            This value is too long. It should have 30 characters.
          </div>
        </div>

        <ion-item>
          <ion-label floating>Confirm Password <span style="color: red">*</span></ion-label>
          <ion-input type="password" formControlName="password_confirmation"></ion-input>
        </ion-item>
        <div *ngIf="((( signupform.get('password_confirmation').hasError('minlength') || signupform.get('password_confirmation').hasError('maxlength')) || signupform.get('password_confirmation').hasError('equalTo')) ||signupform.get('password_confirmation').hasError('required') ) && signupform.get('password_confirmation').touched">
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('required') && signupform.get('password_confirmation').touched">
            Please enter your password confirmation.
          </div>
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('minlength') && signupform.get('password_confirmation').touched">
            This value is too short. It should have 6 characters or more.
          </div>
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('maxlength') && signupform.get('password_confirmation').touched">
            This value is too long. It should have 30 characters.
          </div>
          <div class="error" *ngIf="signupform.get('password_confirmation').hasError('equalTo') && signupform.get('password_confirmation').touched">
            Your passwords does not match.
          </div>
        </div>
        
        <button ion-button block color="success" [disabled]="signupform.invalid || otpButton" (click)="register()">Register</button><br/>
        <div class="alrdy-usr"><span>Already a user? </span><a (click)="login()" ion-text color="buttons">Login Now.</a></div>
        </form>
      </ion-list>
      <div class="btn_container">
        <button round ion-button icon-only (click)="loginWithFacebook()" class="button1">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
        </button>
        <button round ion-button icon-only (click)="loginWithGoogle()" class="button2">
           <ion-icon slot="start" name="logo-google"></ion-icon>
         </button>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
