
<ion-header>

  <ion-navbar color="headers">
    <ion-title>Add Business</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content>
          <ion-list>
              <form novalidate [formGroup]="addBusinessform">
                  <ion-item>
                      <ion-label>Business Type <span style="color: red">*</span></ion-label>
                      <ion-select [(ngModel)]="userData.businessType"
                      formControlName="businessType">
                        <ion-option *ngFor ="let business of businessDetails; let i = index" value="{{business.id}}">{{business.title}}</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Company Name <span style="color: red">*</span></ion-label>
                      <ion-input type="text" [(ngModel)]="userData.companyName"
                      formControlName="companyName" [class.error1]="!addBusinessform.controls.companyName.valid && addBusinessform.controls.companyName.dirty"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="( addBusinessform.get('companyName').hasError('required') ) && addBusinessform.get('companyName').touched">
                      <div class="error" *ngIf="addBusinessform.get('companyName').hasError('required') && addBusinessform.get('companyName').touched">
                        Please enter company name
                      </div>

                    </ion-item>
                    <ion-item>
                      <ion-label floating>City <span style="color: red">*</span></ion-label>
                      <ion-input type="text" [(ngModel)]="userData.city" id="city" (keyup)="autolocation()"
                      formControlName="city" [class.error1]="!addBusinessform.controls.city.valid && addBusinessform.controls.city.dirty"></ion-input>

                    </ion-item>
                    
                    <ion-item no-lines *ngIf="( addBusinessform.get('city').hasError('required') && addBusinessform.get('city').touched) || addBusinessform.get('lat').hasError('required') ">
                      <div class="error" *ngIf="(addBusinessform.get('city').hasError('required') && addBusinessform.get('city').touched) && addBusinessform.get('lat').hasError('required')">
                        Please enter valid city
                      </div>

                    </ion-item>
                    <ion-item>
                      <ion-label floating>Address <span style="color: red">*</span></ion-label>
                      <ion-input type="text" [(ngModel)]="userData.address"
                      formControlName="address" [class.error1]="!addBusinessform.controls.address.valid && addBusinessform.controls.address.dirty"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="( addBusinessform.get('address').hasError('required') ) && addBusinessform.get('address').touched">
                      <div class="error" *ngIf="addBusinessform.get('address').hasError('required') && addBusinessform.get('address').touched">
                        Please enter address
                      </div>

                    </ion-item>
                    <ion-item>
                      <ion-label floating>Details <span style="color: red">*</span></ion-label>
                      <ion-textarea type="text" [(ngModel)]="userData.details"
                      formControlName="details" [class.error1]="!addBusinessform.controls.details.valid && addBusinessform.controls.details.dirty"></ion-textarea>
                    </ion-item>
                    <ion-item no-lines *ngIf="( addBusinessform.get('details').hasError('required') ) && addBusinessform.get('details').touched">
                      <div class="error" *ngIf="addBusinessform.get('details').hasError('required') && addBusinessform.get('details').touched">
                        Please enter details
                      </div>

                    </ion-item>
                    <ion-item>
                      <ion-label floating>Email <span style="color: red">*</span></ion-label>
                      <ion-input type="email" [(ngModel)]="userData.email"
                      formControlName="email" [class.error1]="!addBusinessform.controls.email.valid && addBusinessform.controls.email.dirty"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="( addBusinessform.get('email').hasError('minlength') || addBusinessform.get('email').hasError('pattern') ||addBusinessform.get('email').hasError('required') ) && addBusinessform.get('email').touched">
                      <div class="error" *ngIf="addBusinessform.get('email').hasError('required') && addBusinessform.get('email').touched">
                        Please enter your email
                      </div>
                      <div class="error" *ngIf="addBusinessform.get('email').hasError('pattern') && addBusinessform.get('email').touched">
                        This value should be a valid email
                      </div>
                    </ion-item>
                      <ion-item>
                          <ion-label floating>Phone <span style="color: red">*</span></ion-label>
                          <ion-input type="text" [(ngModel)]="userData.phone"
                          formControlName="phone" [class.error1]="!addBusinessform.controls.phone.valid && addBusinessform.controls.phone.dirty"></ion-input>
                        </ion-item>
                        <ion-item no-lines *ngIf="( addBusinessform.get('phone').hasError('minlength') || addBusinessform.get('phone').hasError('pattern') ||addBusinessform.get('phone').hasError('required') ) && addBusinessform.get('phone').touched">
                          <div class="error" *ngIf="addBusinessform.get('phone').hasError('required') && addBusinessform.get('phone').touched">
                            Please enter your phone no.
                          </div>
                          <div class="error" *ngIf="addBusinessform.get('phone').hasError('pattern') && addBusinessform.get('phone').touched">
                            This value should be a valid phone no.
                          </div>
                        </ion-item>
                    <ion-item>
                      <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
                      <h3 [hidden]="lastImage !== null" class="error">Please Select Image!</h3>
                    </ion-item>
                    <ion-row>
                      <ion-col color="primary">
                        <ion-buttons>
                          <button ion-button icon-left full (click)="presentActionSheet()">
                            <ion-icon name="camera"></ion-icon>Select Image
                          </button>

                        </ion-buttons>
                      </ion-col>
                    </ion-row>
                    <ion-input type="hidden" [(ngModel)]="userData.lat" formControlName="lat"></ion-input>
                    <ion-input type="hidden" [(ngModel)]="userData.lng" formControlName="lng" ></ion-input>
                    <button ion-button block color="success" [disabled]="addBusinessform.invalid || lastImage == null" (click)="uploadImage()">Add</button><br/>
                    </form>
            </ion-list>
            </ion-card-content>
            </ion-card>
</ion-content>
