
<ion-header>

  <ion-navbar color="headers">
    <ion-title *ngIf="requestType == 'details'">View Product</ion-title>
    <ion-title *ngIf="requestType == 'edit'">Edit Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="requestType == 'details'">

    <ion-slides autoplay="5000" loop="true" speed="3000" height="200" pager>
        <ion-slide *ngFor="let slide of productImages">
          <img src="{{slide}}">
        </ion-slide>
      </ion-slides>
  <ion-card-content>
  <ion-card-title>

          <h1 ion-text color="danger">{{productValue.car_company_name}}</h1>

   </ion-card-title>
  <ion-row>
      <ion-col align-self-start>
          <ion-label color="dash6">No. Of Seats :</ion-label>
          <h3>{{productValue.no_of_seats}}</h3>
        </ion-col>
        <ion-col *ngIf="productValue.book_advance!=null" align-self-start>
          <ion-label color="dash6">Booking Advance :</ion-label>
          <h3>Rs.{{productValue.book_advance | number:'1.0-0'}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
    <ion-col *ngIf="productValue.car_price_hour!=null" align-self-start>
      <ion-label color="dash6">Non AC<small> (per hour)</small> :</ion-label>
      <h3>Rs.{{productValue.car_price_hour | number:'1.0-0'}}</h3>
    </ion-col>
    <ion-col *ngIf="productValue.car_price_kil!=null" align-self-start>
      <ion-label color="dash6">Non AC<small> (per km)</small> :</ion-label>
      <h3>Rs.{{productValue.car_price_kil | number:'1.0-0'}}</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="productValue.ac_car_price_hour != null" align-self-start>
      <ion-label color="dash6">AC<small> (per hour)</small> :</ion-label>
      <h3>Rs.{{productValue.ac_car_price_hour | number:'1.0-0'}}</h3>
    </ion-col>
    <ion-col *ngIf="productValue.ac_car_price_kil != null" align-self-start>
      <ion-label color="dash6">AC<small> (per km)</small> :</ion-label>
        <h3>Rs.{{productValue.ac_car_price_kil | number:'1.0-0'}}</h3>
    </ion-col>
  </ion-row>

</ion-card-content>

</ion-card>

<!-- for edit section -->


<ion-card *ngIf="requestType == 'edit'">
    <ion-card-content>

        <ul class="img-y">

          <li *ngFor="let slide of productImages">
              <img src="{{slide}}">
              <div class="ico-p">
                <ion-icon (click)="removeImage(slide)" style="color: red;font-size: 16px" name="close-circle" ></ion-icon>
              </div>
          </li>
          <li>
              <a href="#" (click)="presentActionSheet()"><img src="assets/imgs/add-image.png"></a>
          <div class="ico-p">
            </div>
          </li>
        </ul>

           <ion-card-title>

              <h1 ion-text color="danger">{{productValue.car_company_name}} {{productValue.car_model}}</h1>

       </ion-card-title>

           <ion-list>
            <form novalidate  [formGroup]="editProductform">
              <ion-item [hidden]="true">
                <ion-input  type="text" [(ngModel)]="userData.carId" value="{{productValue.id}}"
                formControlName="carId"></ion-input>

              </ion-item>

                  <ion-item>
                    <ion-label floating>Minimum Hire Period<small> (in hrs) </small> <span style="color: red">*</span></ion-label>
                    <ion-input type="number" [(ngModel)]="userData.miniHirePeriod" value="{{productValue.min_hire_period | number}}"
                    formControlName="miniHirePeriod" [class.error1]="!editProductform.controls.miniHirePeriod.valid && editProductform.controls.miniHirePeriod.dirty">
                  </ion-input>
                  </ion-item>
                  <ion-item no-lines *ngIf="( editProductform.get('miniHirePeriod').hasError('required') ||editProductform.get('miniHirePeriod').hasError('pattern')) && editProductform.get('miniHirePeriod').touched">
                    <div class="error" *ngIf="editProductform.get('miniHirePeriod').hasError('required') && editProductform.get('miniHirePeriod').touched">
                      Please enter minimum hire period
                    </div>
                    <div class="error" *ngIf="editProductform.get('miniHirePeriod').hasError('pattern') && editProductform.get('miniHirePeriod').touched">
                      Please enter only digit
                    </div>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Minimum Hire Distance<small> (in km) </small><span style="color: red">*</span></ion-label>
                    <ion-input type="number" [(ngModel)]="userData.minHireDistance" value="{{productValue.min_hire_distance | number}}"
                    formControlName="minHireDistance" [class.error1]="!editProductform.controls.minHireDistance.valid && editProductform.controls.minHireDistance.dirty"></ion-input>
                  </ion-item>
                  <ion-item no-lines *ngIf="( editProductform.get('minHireDistance').hasError('required') ||editProductform.get('minHireDistance').hasError('pattern')) && editProductform.get('minHireDistance').touched">
                    <div class="error" *ngIf="editProductform.get('minHireDistance').hasError('required') && editProductform.get('minHireDistance').touched">
                      Please enter minimum hire distance
                    </div>
                    <div class="error" *ngIf="editProductform.get('minHireDistance').hasError('pattern') && editProductform.get('minHireDistance').touched">
                      Please enter only digit
                    </div>
                  </ion-item>

                  <ion-item>
                      <ion-label floating>Booking Advance <small> (in Rs) </small></ion-label>
                      <ion-input type="number" [(ngModel)]="userData.advanceAmount" value="{{productValue.book_advance}}"
                      formControlName="advanceAmount" [class.error1]="!editProductform.controls.advanceAmount.valid && editProductform.controls.advanceAmount.dirty"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="(editProductform.get('advanceAmount').hasError('pattern')) && editProductform.get('advanceAmount').touched">
                      <div class="error" *ngIf="editProductform.get('advanceAmount').hasError('pattern') && editProductform.get('advanceAmount').touched">
                        Please enter only digit
                      </div>
                    </ion-item>
                  <ion-item>
                    <ion-label floating>Price (non-ac)<small> (per hour) </small></ion-label>
                    <ion-input type="number" [(ngModel)]="userData.nonAcPriceHourly" value="{{productValue.car_price_hour}}"
                    formControlName="nonAcPriceHourly" [class.error1]="!editProductform.controls.nonAcPriceHourly.valid && editProductform.controls.nonAcPriceHourly.dirty">
                  </ion-input>
                  </ion-item>
                  <ion-item no-lines *ngIf="( editProductform.get('nonAcPriceHourly').hasError('pattern')) && editProductform.get('nonAcPriceHourly').touched">
                    <div class="error" *ngIf="editProductform.get('nonAcPriceHourly').hasError('pattern') && editProductform.get('nonAcPriceHourly').touched">
                      Please enter only digit
                    </div>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Price (non-ac)<small> (per km) </small></ion-label>
                    <ion-input type="number" [(ngModel)]="userData.nonAcpriceKm" value="{{productValue.car_price_kil}}"
                    formControlName="nonAcpriceKm" [class.error1]="!editProductform.controls.nonAcpriceKm.valid && editProductform.controls.nonAcpriceKm.dirty">
                  </ion-input>
                  </ion-item>
                  <ion-item no-lines *ngIf="(editProductform.get('nonAcpriceKm').hasError('pattern') ) && editProductform.get('nonAcpriceKm').touched">

                    <div class="error" *ngIf="editProductform.get('nonAcpriceKm').hasError('pattern') && editProductform.get('nonAcpriceKm').touched">
                      Please enter only digit
                    </div>
                  </ion-item>
                  <ion-item>
                      <ion-label>Available AC
                      </ion-label>

                      <ion-select #C (ionChange)="onChange(C.value)" [(ngModel)]="userData.availableAc" formControlName="availableAc" >
                      <ion-option value="1" >Yes</ion-option>
                      <ion-option value="0" >No</ion-option>
                      </ion-select>
                    </ion-item>
                    <div *ngIf="acAvailable">
                    <ion-item>
                        <ion-label floating>Price (ac)<small> (per hour) </small> </ion-label>
                        <ion-input type="number" [(ngModel)]="userData.acPriceHourly" value="{{productValue.ac_car_price_hour}}"
                        formControlName="acPriceHourly" [class.error1]="!editProductform.controls.acPriceHourly.valid && editProductform.controls.acPriceHourly.dirty">
                      </ion-input>
                      </ion-item>
                      <ion-item no-lines *ngIf="(editProductform.get('acPriceHourly').hasError('pattern')) && editProductform.get('acPriceHourly').touched">

                        <div class="error" *ngIf="editProductform.get('acPriceHourly').hasError('pattern') && editProductform.get('acPriceHourly').touched">
                          Please enter only digit
                        </div>
                      </ion-item>
                      <ion-item>
                        <ion-label floating>Price (ac)<small> (per km) </small> </ion-label>
                        <ion-input type="number" [(ngModel)]="userData.acpriceKm" value="{{productValue.ac_car_price_kil }}"
                        formControlName="acpriceKm" [class.error1]="!editProductform.controls.acpriceKm.valid && editProductform.controls.acpriceKm.dirty">
                      </ion-input>
                      </ion-item>
                      <ion-item no-lines *ngIf="(editProductform.get('acpriceKm').hasError('pattern') ) && editProductform.get('acpriceKm').touched">

                        <div class="error" *ngIf="editProductform.get('acpriceKm').hasError('pattern') && editProductform.get('acpriceKm').touched">
                          Please enter only digit
                        </div>
                      </ion-item>
                    </div>

                  <button  ion-button block color="success" [disabled]="editProductform.invalid" (click)="uploadData()" style="margin-top: 20px;">Submit</button><br/>
                  </form>
          </ion-list>

        </ion-card-content>
</ion-card>

</ion-content>
