
<ion-header>
  <ion-navbar color="headers">
    <ion-title style="float:right">Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Edit Profile</h2>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <form novalidate [formGroup]="editform">
          
          <ion-item>
            <ion-label floating>Name <span style="color: red">*</span></ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          
          <div>
            <div class="error" *ngIf="editform.get('name').hasError('required') && editform.get('name').touched">
              Please enter your name
            </div>
            <div class="error" *ngIf="editform.get('name').hasError('minlength') && editform.get('name').touched">
              Minimum 4 characters
            </div>
            <div class="error" *ngIf="editform.get('name').hasError('maxlength') && editform.get('name').touched">
              Maximum 30 characters
            </div>
            <div class="error" *ngIf="editform.get('name').hasError('pattern') && editform.get('name').touched">
              Pattern your name must contain alphabets and spaces only
            </div>
          </div>
          
          <ion-item>
            <ion-label floating>Email <span style="color: red">*</span></ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          
          <div>
            <div class="error" *ngIf="editform.get('email').hasError('required') && editform.get('email').touched">
              Please enter your email
            </div>
            <div class="error" *ngIf="editform.get('email').hasError('pattern') && editform.get('email').touched">
              This value should be a valid email
            </div>
          </div>
          
          <ion-item>
            <ion-label floating>Phone <span style="color: red">*</span></ion-label>
            <ion-input formControlName="phone_no" type="number" (keyup)="checkPhoneChanges()" [readonly]="otpMatch"></ion-input>
            <button *ngIf="otpButton" ion-button clear item-right (click)="sendOtp()">{{ otpStatus }}</button>
          </ion-item>
          
          <div>
            <div class="error" *ngIf="editform.get('phone_no').hasError('required') && editform.get('phone_no').touched">
              Please enter your phone no.
            </div>
            <div class="error" *ngIf="editform.get('phone_no').hasError('phoneCheck') && !editform.get('phone_no').hasError('required')">
              This value should be a valid phone no.
            </div>
          </div>
          
          <ion-item *ngIf="otpSent">
            <ion-label floating>6 Digit OTP <span style="color: red">*</span></ion-label>
            <ion-input type="text" formControlName="otp"></ion-input>
          </ion-item>
          
          <div *ngIf="otpSent">
            <div class="error" *ngIf="editform.get('otp').hasError('equalTo') && editform.get('otp').touched">
              Your OTP does not match
            </div>
          </div>
          
          <ion-item>
            <ion-label floating>Address</ion-label>
            <ion-textarea myInput type="text" formControlName="address"></ion-textarea>
          </ion-item>
          
          <button ion-button block color="success" [disabled]="editform.invalid || otpButton || editform.pristine" (click)="editProfile()">Save</button><br/>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
