
<ion-header>

  <ion-navbar color="headers" >
    <ion-title *ngIf="requestType == 'details'">View Product</ion-title>
    <ion-title *ngIf="requestType == 'edit'">Edit Product</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- for details section -->
  <ion-card *ngIf="requestType == 'details'">

    <ion-slides autoplay="5000" loop="true" speed="3000" height="200" pager>

        <ion-slide *ngFor="let slide of productImages">
          <img src="{{slide}}">
        </ion-slide>
      </ion-slides>
  <ion-card-content>
  <ion-card-title>

          <h1 ion-text color="danger">{{productValue.name}}</h1>

   </ion-card-title>
  <ion-row>
      <ion-col *ngIf="productValue.price_per_plate != null" align-self-start>
          <ion-label color="dash6">Starting Price :</ion-label>
          <h3>Rs. {{productValue.price_per_plate | number:'1.0-0'}}</h3>
        </ion-col>
        <ion-col  align-self-start>
          <ion-label color="dash6">Minimum No. of Plates :</ion-label>
          <h3>{{productValue.package_min_plates}}</h3>
        </ion-col>
      </ion-row>

</ion-card-content>
  <!-- for edit section -->
</ion-card>
<ion-card *ngIf="requestType == 'edit'">

  <ion-card-content>

    <ul class="img-y">
      <li *ngFor="let slide of productImages">
          <img src="{{slide}}">
          <div class="ico-p">
            <ion-icon (click)="removeImage(slide)" style="color: red;font-size: 16px" name="close-circle" ></ion-icon>
          </div>
      </li>
      <li>
          <a (click)="presentActionSheet()"><img src="assets/imgs/add-image.png"></a>
      <div class="ico-p">
        </div>
      </li>
    </ul>

       <ion-list>
        <form novalidate  [formGroup]="editProductform">

          <ion-item [hidden]="true">
            <ion-input  type="text" [(ngModel)]="userData.catererId" value="{{productValue.id}}"
            formControlName="catererId"></ion-input>

          </ion-item>

          <ion-item>
              <ion-label floating>Starting Price <small>(per plate)</small><span style="color: red">*</span></ion-label>
              <ion-input type="number" [(ngModel)]="userData.startingPrice" value="{{productValue.price_per_plate}}"
              formControlName="startingPrice" [class.error1]="!editProductform.controls.startingPrice.valid && editProductform.controls.startingPrice.dirty">
            </ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( editProductform.get('startingPrice').hasError('required') ||editProductform.get('startingPrice').hasError('pattern')) && editProductform.get('startingPrice').touched">
              <div class="error" *ngIf="editProductform.get('startingPrice').hasError('required') && editProductform.get('startingPrice').touched">
                Please enter starting price
              </div>
              <div class="error" *ngIf="editProductform.get('startingPrice').hasError('pattern') && editProductform.get('startingPrice').touched">
                  Please enter only digits
                </div>
            </ion-item>


              <ion-item>
                <ion-label floating>Minimum No. of Plates <span style="color: red">*</span></ion-label>
                <ion-input type="number" [(ngModel)]="userData.minimumPlate" value="{{productValue.package_min_plates}}"
                formControlName="minimumPlate" [class.error1]="!editProductform.controls.minimumPlate.valid && editProductform.controls.minimumPlate.dirty">
              </ion-input>
              </ion-item>
              <ion-item no-lines *ngIf="( editProductform.get('minimumPlate').hasError('required') ||editProductform.get('minimumPlate').hasError('pattern')) && editProductform.get('hallPrice').touched">
                <div class="error" *ngIf="editProductform.get('minimumPlate').hasError('required') && editProductform.get('minimumPlate').touched">
                  Please enter minimum no. of plate
                </div>
                <div class="error" *ngIf="editProductform.get('minimumPlate').hasError('pattern') && editProductform.get('minimumPlate').touched">
                  Please enter only digit
                </div>
              </ion-item>

              <button  ion-button block color="success" [disabled]="editProductform.invalid" (click)="uploadData()" style="margin-top: 20px;">Submit</button><br/>
              </form>
      </ion-list>
    </ion-card-content>

</ion-card>
</ion-content>
