page-view-product-makeup {
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
    padding-left: 16px;
  }

  .card-md .trash-div {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    position: absolute;
    top: 10px;
    right: 10px;
}

}
