
<ion-header>
  <ion-navbar color="headers" hideBackButton>
      <ion-buttons style="float:left">
          <button ion-button icon-only (click)="onOpenMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title style="float:right">Business</ion-title>

    <ion-buttons end >
        <button ion-button small icon-only (click)="addBusiness()" tooltip="add">
          <ion-icon  name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
    <ion-item *ngFor ="let business of businessDetails; let i = index" >
    <ion-card>
          <ion-card-header class="custom-card-header">
              <ion-item class="custom-item">
                {{business.company_name}}
                  <button ion-button item-end small clear icon-only [disabled]="business.request_type=='Delete' || business.request_type=='Deactivate' || business.request_type=='Deactivated' || business.request_type=='Edit'" (click)="deleteBusiness(business.id)">
                    <ion-icon name="trash" color="danger"></ion-icon>
                  </button>
              </ion-item>
            </ion-card-header>

         <ion-item>
              <ion-row >
                  <ion-col col-auto>
                    <h1 ion-text color="danger">{{business.module_name}}</h1>
                </ion-col>
                  <ion-col col-3>
                    <ion-badge color="ac" *ngIf="business.request_type=='Deactivate'">Deactivate Request Sent</ion-badge>
                    <ion-badge color="ac" *ngIf="business.request_type=='Delete'">Delete Request Sent</ion-badge>
                    <ion-badge color="ac" *ngIf="business.request_type!='Deactivate' && business.request_type!='Delete'">{{business.request_type}}</ion-badge>

                  </ion-col>
                </ion-row>

            <h2>{{business.email}}</h2>
            <p>{{business.phone_no}}</p>
         </ion-item>

      <img src="{{this.imageUrl+business.business_image}}">
        <ion-card-content>
          <p>{{business.address}}</p>
          <h3>Since: {{business.since}}</h3>
        <div class="extra-p">
          <ion-row>
              <ion-col>
                <button ion-button icon-left round full color="dash2" [disabled]="business.request_type=='Delete' || business.request_type=='Deactivate' || business.request_type=='Deactivated'" (click)="editBusiness(business)">
                  <ion-icon color="white" name="create"></ion-icon>
                  <div ion-text color="white"> Edit </div>
                </button>
              </ion-col>
              <ion-col *ngIf="business.request_type!='Deactivate' && business.request_type!='Deactivated'" >
                <button ion-button icon-left round full color="success" [disabled]="business.request_type=='Delete' || business.request_type=='Edit'" (click)="deactiveBusiness(business.id)">
                  <ion-icon name="cut"></ion-icon>
                  <div> Deactivate </div>
                </button>
              </ion-col>
              <div class="clearfix"></div>
              <ion-col *ngIf="business.request_type=='Deactivate' || business.request_type=='Deactivated'">
                <button ion-button icon-left round full color="success"  (click)="reactiveBusiness(business.id)">
                  <ion-icon name="cut"></ion-icon>
                  <div> Re-activate </div>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>

      </ion-card>
    </ion-item>
    <ion-item *ngIf="no_data && !businessDetails.length"><img src="assets/imgs/no-data-found.gif"></ion-item>
    </ion-list>
</ion-content>
