page-business {
    .custom-card-header {
        background-color:#e8b26d;
        padding-bottom: 0%;
        padding-top: 0%;
      }
      .custom-item {
        background-color:#e8b26d;
        padding-bottom: 0%;
        padding-top: 0%;
      }
     .status-box{
        background-color: rgb(0, 250, 54);
     } 
}
