<ion-header>
  <ion-navbar color="headers" hideBackButton="true">
      <ion-buttons style="float:left">
          <button ion-button icon-only (click)="onOpenMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title style="float:right">
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Change Password</h2>
  <ion-card>
    <ion-card-content>
      <ion-list>
          <form novalidate [formGroup]="forgetpasswordform">
          <ion-item>
              <ion-label floating>Current Password <span style="color: red">*</span></ion-label>
              <ion-input type="password" [(ngModel)]="userPassword.password" clearOnEdit="false"
              formControlName="password" [class.error1]="!forgetpasswordform.controls.password.valid && forgetpasswordform.controls.password.dirty"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( forgetpasswordform.get('password').hasError('minlength') || forgetpasswordform.get('password').hasError('maxlength') ||forgetpasswordform.get('password').hasError('required') ) && forgetpasswordform.get('password').touched">
              <div class="error" *ngIf="forgetpasswordform.get('password').hasError('required') && forgetpasswordform.get('password').touched">
               Please enter your password
              </div>
              <div class="error" *ngIf="forgetpasswordform.get('password').hasError('minlength') && forgetpasswordform.get('password').touched">
                This value is too short. It should have 6 characters or more.
              </div>
              <div class="error" *ngIf="forgetpasswordform.get('password').hasError('maxlength') && forgetpasswordform.get('password').touched">
                This value is too long. It should have 30 characters.
              </div>
            </ion-item>
            <ion-item>
                <ion-label floating> New Password <span style="color: red">*</span></ion-label>
                <ion-input type="password" [(ngModel)]="userPassword.new_password" clearOnEdit="false"
                formControlName="new_password" [class.error1]="!forgetpasswordform.controls.new_password.valid && forgetpasswordform.controls.new_password.dirty"></ion-input>
              </ion-item>
              <ion-item no-lines *ngIf="( forgetpasswordform.get('new_password').hasError('minlength') || forgetpasswordform.get('new_password').hasError('maxlength') ||forgetpasswordform.get('new_password').hasError('required') ) && forgetpasswordform.get('new_password').touched">
                <div class="error" *ngIf="forgetpasswordform.get('new_password').hasError('required') && forgetpasswordform.get('new_password').touched">
                 Please enter your password
                </div>
                <div class="error" *ngIf="forgetpasswordform.get('new_password').hasError('minlength') && forgetpasswordform.get('new_password').touched">
                  This value is too short. It should have 6 characters or more.
                </div>
                <div class="error" *ngIf="forgetpasswordform.get('new_password').hasError('maxlength') && forgetpasswordform.get('new_password').touched">
                  This value is too long. It should have 30 characters.
                </div>
              </ion-item>
              <ion-item>
                  <ion-label floating>Confirm New Password <span style="color: red">*</span></ion-label>
                  <ion-input type="password" [(ngModel)]="userPassword.new_password_confirmation" clearOnEdit="false"
                  formControlName="new_password_confirmation" [class.error1]="!forgetpasswordform.controls.new_password_confirmation.valid && forgetpasswordform.controls.new_password_confirmation.dirty"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="((( forgetpasswordform.get('new_password_confirmation').hasError('minlength') || forgetpasswordform.get('new_password_confirmation').hasError('maxlength')) || forgetpasswordform.get('new_password_confirmation').hasError('equalTo')) ||forgetpasswordform.get('new_password_confirmation').hasError('required') ) && forgetpasswordform.get('new_password_confirmation').touched">
                  <div class="error" *ngIf="forgetpasswordform.get('new_password_confirmation').hasError('required') && forgetpasswordform.get('new_password_confirmation').touched">
                    Please enter your password confirmation
                  </div>
                  <div class="error" *ngIf="forgetpasswordform.get('new_password_confirmation').hasError('minlength') && forgetpasswordform.get('new_password_confirmation').touched">
                    This value is too short. It should have 6 characters or more
                  </div>
                  <div class="error" *ngIf="forgetpasswordform.get('new_password_confirmation').hasError('maxlength') && forgetpasswordform.get('new_password_confirmation').touched">
                    This value is too long. It should have 30 characters.
                  </div>
                  <div class="error" *ngIf="forgetpasswordform.get('new_password_confirmation').hasError('equalTo') && forgetpasswordform.get('new_password_confirmation').touched">
                    Your passwords does not match
                  </div>
                </ion-item><br/>
        <button ion-button block color="success" [disabled]="forgetpasswordform.invalid" (click)="change_password()">Change Password</button><br/>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div style="padding: 16px;">
  <h5>Do you want to logout?</h5>
  <button ion-button icon-start color="success" outline>
      <ion-icon name="power"></ion-icon>
      Logout
    </button>
  </div>
</ion-content>
