
<ion-header>

  <ion-navbar color="headers">
    <ion-title *ngIf="requestType == 'details'">View Product</ion-title>
    <ion-title *ngIf="requestType == 'edit'">Edit Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!-- for Details section -->
  <ion-card *ngIf="requestType == 'details'">

      <ion-slides autoplay="5000" loop="true" speed="3000" height="200" pager>
          <ion-slide>
              <img src="http://192.168.0.130/BandBazza/public/{{productDetails.details.view}}">
          </ion-slide>
            
          <ion-slide *ngFor="let slide of productImages">
            <img src="http://192.168.0.130/BandBazza/public/{{slide.url}}">
          </ion-slide>
        </ion-slides>
    <ion-card-content>
    <ion-card-title>
      <ion-row>
        <ion-col col-auto>
            <h1 ion-text color="danger">{{productDetails.details.name}}</h1> 
        </ion-col>
        <ion-col *ngIf="productDetails.details.is_ac == 1" text-center>
            <ion-badge color="ac">AC</ion-badge>
          </ion-col>
          <ion-col *ngIf="productDetails.details.is_ac == 0" text-center>
              <ion-badge color="dash2">Non AC</ion-badge>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <h1 ion-text color="dark"><b>Rs.{{productDetails.details.price | number:'1.0-0'}}</b></h1>
        </ion-col>
        <ion-col *ngIf="productDetails.details.is_nonveg == 1" text-center>
            <ion-badge color="ac">Vej</ion-badge>
            <ion-badge color="danger">Nonvej</ion-badge>
          </ion-col>
          <ion-col *ngIf="productDetails.details.is_nonveg == 0" text-center>
              <ion-badge color="ac">Vej</ion-badge>
          </ion-col>
      </ion-row>
      
      
     </ion-card-title>
    <ion-row>
        <ion-col *ngIf="productDetails.details.is_parking == 1" align-self-start>
            <ion-label color="dash6">Parking :</ion-label>
            <h3>Available</h3>
          </ion-col>
          <ion-col *ngIf="productDetails.details.is_parking == 0" align-self-start>
            <ion-label color="dash6">Parking :</ion-label>
            <h3>Not Available</h3>
          </ion-col>
      <ion-col *ngIf="productDetails.details.book_advance != null" align-self-start>
        <ion-label color="dash6">Advance Amount :</ion-label>
        <h3>Rs.{{productDetails.details.book_advance | number:'1.0-0'}}</h3>
      </ion-col>
      <ion-col *ngIf="productDetails.details.book_advance == null" align-self-start>
        <ion-label color="dash6">Advance Amount :</ion-label>
        <h3>N/A</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-start>
        <ion-label color="dash6">Capacity :</ion-label>
        <h3>{{productDetails.details.capacity}}</h3>
      </ion-col>
      <ion-col *ngIf="productDetails.details.is_ac == 1" align-self-start>
        <ion-label color="dash6">AC Charges(hourly) :</ion-label>
        <h3>Rs.{{productDetails.details.ac_charge | number:'1.0-0'}}</h3>
      </ion-col>
      <ion-col *ngIf="productDetails.details.is_ac == 0" align-self-start>
        <ion-label color="dash6">AC :</ion-label>
        <h3>NA</h3>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-label color="dash6">Location :</ion-label>
        <h3>{{productDetails.details.address}}</h3>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
     <img src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{log}}&markers=color:blue%7C{{lat}},{{log}}&format=png&size=400x200&zoom=14&key=AIzaSyBzeppyrAzDcifb1vGnNArdBuZp5X39s-Y"> 
  </ion-card-content>
</ion-card>

    <!-- for Edit section -->

    
 
  <ion-card *ngIf="requestType == 'edit'">
    <ion-card-content>

          <ul class="img-y">
            <li><img src="http://192.168.0.130/BandBazza/public/{{productDetails.details.view}}">
              <div class="ico-p">
                <ion-icon (click)="removeImage(productDetails.details.view)" style="color: red;font-size: 16px" name="close-circle" ></ion-icon>
              </div>
            </li>
            <li *ngFor="let slide of productImages">
                <img src="http://192.168.0.130/BandBazza/public/{{slide.url}}">
                <div class="ico-p">
                  <ion-icon (click)="removeImage(slide.url)" style="color: red;font-size: 16px" name="close-circle" ></ion-icon>
                </div>
            </li>
            <li>
                <a href="#" (click)="test()"><img src="assets/imgs/add-image.png"></a> 
            <div class="ico-p">
              </div>
            </li>
          </ul>
              <!-- <ion-card-title>
                        <h1 ion-text color="danger">{{productDetails.details.name}}</h1> 
             </ion-card-title> -->


             <ion-list>
              <form novalidate  [formGroup]="editProductform">
                <ion-item>
                  <ion-label floating>Banquet Hall Name <span style="color: red">*</span></ion-label>
                  <ion-input type="text" [(ngModel)]="userData.banquetName" value="{{productDetails.details.name}}"
                  formControlName="banquetName" [class.error1]="!editProductform.controls.banquetName.valid && editProductform.controls.banquetName.dirty">
                </ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="( editProductform.get('banquetName').hasError('required') ) && editProductform.get('banquetName').touched">
                  <div class="error" *ngIf="editProductform.get('banquetName').hasError('required') && editProductform.get('banquetName').touched">
                    Please enter Hall Name
                  </div>
                  
                </ion-item>
                  
                    <ion-item>
                      <ion-label floating>Hall Price<small>(per day)</small> <span style="color: red">*</span></ion-label>
                      <ion-input type="text" [(ngModel)]="userData.hallPrice" value="{{productDetails.details.price}}"
                      formControlName="hallPrice" [class.error1]="!editProductform.controls.hallPrice.valid && editProductform.controls.hallPrice.dirty">
                    </ion-input>
                    </ion-item> 
                    <ion-item no-lines *ngIf="( editProductform.get('hallPrice').hasError('required') ||editProductform.get('hallPrice').hasError('pattern')) && editProductform.get('hallPrice').touched">
                      <div class="error" *ngIf="editProductform.get('hallPrice').hasError('required') && editProductform.get('hallPrice').touched">
                        Please enter Hall Price
                      </div>
                      <div class="error" *ngIf="editProductform.get('hallPrice').hasError('pattern') && editProductform.get('hallPrice').touched">
                        Please enter only digit
                      </div>
                    </ion-item>
                    <ion-item>
                      <ion-label floating>Advance Amount <span style="color: red">*</span></ion-label>
                      <ion-input type="text" [(ngModel)]="userData.advanceAmount" value="{{productDetails.details.book_advance}}"
                      formControlName="advanceAmount" [class.error1]="!editProductform.controls.advanceAmount.valid && editProductform.controls.advanceAmount.dirty"></ion-input>
                    </ion-item> 
                    <ion-item no-lines *ngIf="( editProductform.get('advanceAmount').hasError('required') ||editProductform.get('advanceAmount').hasError('pattern')) && editProductform.get('advanceAmount').touched">
                      <div class="error" *ngIf="editProductform.get('advanceAmount').hasError('required') && editProductform.get('advanceAmount').touched">
                        Please enter Advance Amount
                      </div>
                      <div class="error" *ngIf="editProductform.get('advanceAmount').hasError('pattern') && editProductform.get('advanceAmount').touched">
                        Please enter only digit
                      </div>
                    </ion-item>
                    <ion-item>
                      <ion-label floating>Capacity <span style="color: red">*</span></ion-label>
                      <ion-input type="text" [(ngModel)]="userData.capacity" value="{{productDetails.details.capacity}}"
                      formControlName="capacity" [class.error1]="!editProductform.controls.capacity.valid && editProductform.controls.capacity.dirty">
                    </ion-input>
                    </ion-item> 
                    <ion-item no-lines *ngIf="( editProductform.get('capacity').hasError('required') ||editProductform.get('capacity').hasError('pattern')) && editProductform.get('capacity').touched">
                      <div class="error" *ngIf="editProductform.get('capacity').hasError('required') && editProductform.get('capacity').touched">
                        Please enter Capacity
                      </div>
                      <div class="error" *ngIf="editProductform.get('capacity').hasError('pattern') && editProductform.get('capacity').touched">
                        Please enter only digit
                      </div>
                    </ion-item>
                    <ion-item>
                      <ion-label floating>Ac. Charges<small>(per hour)</small> </ion-label>
                      <ion-input type="text" [(ngModel)]="userData.acCharges" value="{{productDetails.details.ac_charge}}"
                      formControlName="acCharges" [class.error1]="!editProductform.controls.acCharges.valid && editProductform.controls.acCharges.dirty">
                    </ion-input>
                    </ion-item> 
                    <ion-item no-lines *ngIf="(editProductform.get('acCharges').hasError('pattern') ) && editProductform.get('acCharges').touched">
                      <div class="error" *ngIf="editProductform.get('acCharges').hasError('pattern') && editProductform.get('acCharges').touched">
                        Please enter only digit
                      </div>
                    </ion-item>
                    <ion-item>
                      <ion-label>Available AC
                      </ion-label>
                      
                      <ion-select [(ngModel)]="userData.availableAc" formControlName="availableAc" >
                      <ion-option value="1" >Yes</ion-option>
                      <ion-option value="0" >No</ion-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      
                      <ion-label>Food Type 
                      </ion-label>
                      
                      <ion-select [(ngModel)]="userData.foodType"
                      formControlName="foodType">
                      <ion-option value="0">Vej</ion-option>
                      <ion-option value="1">All</ion-option>
                      </ion-select>
                    </ion-item>
                    <button  ion-button block color="success" [disabled]="editProductform.invalid" (click)="uploadImage()">Add</button><br/>
                    </form>
            </ion-list>





          </ion-card-content>
  </ion-card>
  
</ion-content>
