
<ion-header>

  <ion-navbar color="headers">
    <ion-title *ngIf="requestType == 'details'">View Product</ion-title>
    <ion-title *ngIf="requestType == 'edit'">Edit Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!-- for Details section -->
  <ion-card *ngIf="requestType == 'details'">
      <ion-slides autoplay="5000" loop="true" speed="3000" height="200" pager>
          <ion-slide *ngFor="let slide of productImages">
            <img [src]="updateImageUrl(slide)">
          </ion-slide>
        </ion-slides>
    <ion-card-content>
    <ion-card-title>
      <ion-row>
        <ion-col col-auto>
            <h1 ion-text color="danger">{{productDetails.details.name}}</h1>
        </ion-col>
        <ion-col *ngIf="productDetails.details.is_ac == 1" text-center>
            <ion-badge color="ac">AC</ion-badge>
          </ion-col>
          <ion-col *ngIf="productDetails.details.is_ac == 0" text-center>
              <ion-badge color="dash2">Non-AC</ion-badge>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="productDetails.details.price!=null">
            <h1 ion-text color="dark"><b>Rs.{{productDetails.details.price | number:'1.0-0'}}</b></h1>
        </ion-col>
        <ion-col *ngIf="productDetails.details.price==null">
          <h1 ion-text color="dark"><b>Price N/A</b></h1>
      </ion-col>
        <ion-col *ngIf="productDetails.details.is_nonveg == 1" text-center>
            <ion-badge color="ac">All</ion-badge>
          </ion-col>
          <ion-col *ngIf="productDetails.details.is_nonveg == 0" text-center>
              <ion-badge color="ac">Veg</ion-badge>
          </ion-col>
      </ion-row>


     </ion-card-title>
    <ion-row>
        <ion-col *ngIf="productDetails.details.is_parking == 1" align-self-start>
            <ion-label color="dash6">Parking :</ion-label>
            <h3>Available</h3>
          </ion-col>
          <ion-col *ngIf="productDetails.details.is_parking == 0" align-self-start>
            <ion-label color="dash6">Parking :</ion-label>
            <h3>Not Available</h3>
          </ion-col>
      <ion-col *ngIf="productDetails.details.advance_percent != null" align-self-start>
        <ion-label color="dash6">Booking Advance :</ion-label>
        <h3>{{productDetails.details.advance_percent | number:'1.0-0'}} %</h3>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col align-self-start>
        <ion-label color="dash6">Capacity :</ion-label>
        <h3>{{productDetails.details.capacity}}</h3>
      </ion-col>
      <ion-col *ngIf="productDetails.details.is_ac == 1" align-self-start>
        <ion-label color="dash6">AC Charges(hourly) :</ion-label>
        <h3>Rs.{{productDetails.details.ac_charge | number:'1.0-0'}}</h3>
      </ion-col>
      <ion-col *ngIf="productDetails.details.is_ac == 0" align-self-start>
        <ion-label color="dash6">AC :</ion-label>
        <h3>NA</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="dash6">Location :</ion-label>
        <h3>{{productDetails.details.address}}</h3>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
     <img src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{log}}&markers=color:blue%7C{{lat}},{{log}}&format=png&size=400x200&zoom=14&key=AIzaSyDDK5MydVx-HkNyQcPTBdDyIyrqbwVPST0">
  </ion-card-content>
</ion-card>

    <!-- for Edit section -->



  <ion-card *ngIf="requestType == 'edit'">
    <ion-card-content>
          <ul class="img-y">
            <li *ngFor="let slide of productImages">
                <img src="{{slide}}">
                <div class="ico-p">
                  <ion-icon (click)="removeImage(slide)" style="color: red;font-size: 16px" name="close-circle" ></ion-icon>
                </div>
            </li>
            <li>
                <a href="#" (click)="presentActionSheet()"><img src="assets/imgs/add-image.png"></a>
            <div class="ico-p">
              </div>
            </li>
          </ul>

             <ion-list>
              <form novalidate [formGroup]="editProductform">
                <ion-item [hidden]="true">
                  <ion-input type="number" formControlName="banquetId"></ion-input>
                </ion-item>
                    <ion-item>
                      <ion-label floating>Price <small>(per day) </small><span style="color: red">*</span></ion-label>
                      <ion-input type="number"
                      formControlName="hallPrice"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="( editProductform.get('hallPrice').hasError('required') ||editProductform.get('hallPrice').hasError('pattern') || editProductform.get('hallPrice').hasError('lessThan'))">
                      <div class="error" *ngIf="editProductform.get('hallPrice').hasError('required') && editProductform.get('hallPrice').touched">
                        Please enter hall price
                      </div>
                      <div class="error" *ngIf="editProductform.get('hallPrice').hasError('pattern') && editProductform.get('hallPrice').touched">
                        Please enter only digit
                      </div>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Booking Advance <small>(in %) </small><span style="color: red">*</span></ion-label>
                      <ion-input type="number" formControlName="advanceAmount"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="( editProductform.get('advanceAmount').hasError('required') ||editProductform.get('advanceAmount').hasError('pattern') || editProductform.get('advanceAmount').hasError('greaterThan')) ">
                      <div class="error" *ngIf="editProductform.get('advanceAmount').hasError('required') && editProductform.get('advanceAmount').touched">
                        Please enter advance percent
                      </div>
                      <div class="error" *ngIf="editProductform.get('advanceAmount').hasError('pattern') && editProductform.get('advanceAmount').touched">
                        Please enter only digit
                      </div>
                    </ion-item>
                    <ion-item>
                      <ion-label floating>Capacity <span style="color: red">*</span></ion-label>
                      <ion-input type="number" formControlName="capacity">
                    </ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="( editProductform.get('capacity').hasError('required') ||editProductform.get('capacity').hasError('pattern')) && editProductform.get('capacity').touched">
                      <div class="error" *ngIf="editProductform.get('capacity').hasError('required') && editProductform.get('capacity').touched">
                        Please enter capacity
                      </div>
                      <div class="error" *ngIf="editProductform.get('capacity').hasError('pattern') && editProductform.get('capacity').touched">
                        Please enter only digit
                      </div>
                    </ion-item>

                    <ion-item>
                        <ion-label>AC Available <span style="color: red">*</span>                  </ion-label>
                        <ion-select [(ngModel)]="is_ac" formControlName="availableAc" (ionChange)="checkValidity()">
                        <ion-option value="1" >Yes</ion-option>
                        <ion-option value="0" >No</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item *ngIf="is_ac==1">
                      <ion-label floating>AC Charges<small> (per hour) </small><span style="color: red">*</span></ion-label>
                      <ion-input type="number" formControlName="acCharges">
                    </ion-input>
                    <ion-select formControlName="acTime">
                      <ion-option value="1">Hourly</ion-option>
                      <ion-option value="2">Daily</ion-option>
                    </ion-select>
                    </ion-item>

                    <ion-item no-lines *ngIf="(editProductform.get('acCharges').hasError('pattern') ) && editProductform.get('acCharges').touched">
                      <div class="error" *ngIf="editProductform.get('acCharges').hasError('pattern') && editProductform.get('acCharges').touched">
                        Please enter only digit
                      </div>
                    </ion-item>

                    <ion-item>
                      <ion-label>Permitted Food Type <span style="color: red">*</span>               </ion-label>
                      <ion-select formControlName="foodType">
                      <ion-option value="0">Veg</ion-option>
                      <ion-option value="1">All</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label>Parking <span style="color: red">*</span></ion-label>
                      <ion-select formControlName="parking">
                      <ion-option value="1">Yes</ion-option>
                      <ion-option value="0">No</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label>Outside food allowed <span style="color: red">*</span></ion-label>
                      <ion-select [(ngModel)]="food_not_allowed" formControlName="foodNotAllowed" (ionChange)="checkValidity()">
                      <ion-option value="0">Yes</ion-option>
                      <ion-option value="1">No</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item *ngIf="food_not_allowed==1">
                      <ion-label floating>No. of Plates<span style="color: red">*</span></ion-label>
                      <ion-input type="number" formControlName="noOfPlates">
                    </ion-input>
                    </ion-item>

                    <button  ion-button block color="success" [disabled]="editProductform.invalid" (click)="uploadData()" style="margin-top: 20px;">Submit</button><br/>
                    </form>
            </ion-list>
          </ion-card-content>
  </ion-card>

</ion-content>
