page-add-offline-booking {
    .label p {
        color: #000;
        font-size: 16px;
        font-weight: 600;
    }
    .error {
      color: rgb(223, 62, 62);
      font-size: 11px;
      padding-left: 16px;
    }
}
