
<ion-header>

  <ion-navbar color="headers">
    <ion-title>Forget Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
 <ion-card-content>
  <ion-list>
    <form novalidate [formGroup]="forgetPasswordform">
          <ion-item>
            <ion-label floating>Email id or Phone</ion-label>
            <ion-input type="email" [(ngModel)]="userData.email"
            formControlName="email" [class.error1]="!forgetPasswordform.controls.email.valid && forgetPasswordform.controls.email.dirty"
            (keyup)="showVal(this.value)"></ion-input>
            <!-- <button *ngIf="!( forgetPasswordform.get('email').hasError('pattern') ||forgetPasswordform.get('email').hasError('required') ) && !buttonClicked && otpButton" 
            ion-button  clear item-right (click)="sendOtp()">Send OTP</button> -->
          </ion-item>
          <ion-item no-lines *ngIf="( forgetPasswordform.get('email').hasError('minlength') || forgetPasswordform.get('email').hasError('pattern') ||forgetPasswordform.get('email').hasError('required') ) && forgetPasswordform.get('email').touched">
            <div class="error" *ngIf="forgetPasswordform.get('email').hasError('required') && forgetPasswordform.get('email').touched">
              Please enter your email or phone
            </div>
            <div class="error" *ngIf="forgetPasswordform.get('email').hasError('pattern') && forgetPasswordform.get('email').touched">
              This value should be a valid email or valid phone no.
            </div>
          </ion-item>
          <!-- <ion-item *ngIf="buttonClicked">
            <ion-input  type="text" placeholder="Enter Six Digit Password"
            [(ngModel)]="userData.otp" formControlName="otp"  ></ion-input>
          </ion-item>
          <ion-item *ngIf="buttonClicked">
            <div class="error" *ngIf="forgetPasswordform.get('email').hasError('equalsTo') && forgetPasswordform.get('email').touched">
              Your OTP does not match
            </div>
            <div class="success" *ngIf="!(forgetPasswordform.get('email').hasError('equalsTo'))">
              Your OTP match successfully
            </div>
          </ion-item> -->
          <button type="submit" ion-button block color="success" [disabled]="forgetPasswordform.invalid" (click)="forgetPassword()">Send Password Reset Link</button>
       </form>
   </ion-list>
 </ion-card-content>
  </ion-card>
   </ion-content>