<ion-header>

  <ion-navbar color="headers">
    <ion-title>Add Product Banquet</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="overflow: hidden;height: 100vh">

  <ion-slides #formslides style="position: fixed; height: 80vh;margin-top: 5px">
      <ion-slide style="height: 100vh">
        <ion-card style="max-height: 100vh; height: 100vh;position: fixed;top: 0px;margin-top: 10px;margin-bottom: 5px">
            <ion-card-header>
              Step 1/5
            </ion-card-header>
            <hr>

            <p style="color: red" *ngIf="errormessage">
              {{errormessage}}
            </p>
              <ion-content direction="y" scrollY="true" style="height: 80%;">


            <ion-card-content class="add-cmn">
              <ion-list>
                  <ion-item>
                      <ion-label stacked>
                        <div>
                          <p>Hall Name<span style="color: red" > *</span></p>
                        </div>
                      </ion-label>
                      <ion-input (ionChange)="errormessage = ''"  [(ngModel)]="form1data.hallname" placeholder="Enter Hall Name">
                      </ion-input>
                    </ion-item>

                      <ion-item>
                          <ion-label stacked>
                            <div>
                              <p>Hall Booking Price (in Rs)<span style="color: red" > *</span></p>
                            </div>
                          </ion-label>
                          <ion-input type="number" (ionChange)="errormessage = ''"  [(ngModel)]="form1data.price" placeholder="Enter Hall Booking Price">
                          </ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label stacked>
                              <div>
                                <p>Booking Advance (in Rs)<span style="color: red" > *</span></p>
                              </div>
                            </ion-label>
                            <ion-input type="number" (ionChange)="errormessage = ''"  [(ngModel)]="form1data.booking_advance" placeholder="Enter Booking Advance">
                            </ion-input>
                          </ion-item>


                        <ion-item>
                          <ion-label stacked><p>Search Tags (comma separated)</p></ion-label>
                          <ion-input (ionChange)="errormessage = ''"  [(ngModel)]="form1data.tags" placeholder="Hall Search Tags">
                          </ion-input>
                        </ion-item>

                        <ion-item>
                          <ion-label stacked>
                            <div>
                              <p>Details<span style="color: red" > *</span></p>
                            </div>
                          </ion-label>
                          <ion-textarea  (ionChange)="errormessage = ''"  [(ngModel)]="form1data.details" placeholder="Enter Hall Details">
                          </ion-textarea>
                        </ion-item>
              </ion-list>
            </ion-card-content>
            <div  style="margin-bottom: 80px" ></div>
              </ion-content>
        </ion-card>
      </ion-slide>
      <ion-slide style="height: 100vh">
        <ion-card style="height: 100vh;">
            <ion-card-header>
              Step 2/5
            </ion-card-header>
            <!-- <hr> -->
            <p style="color: red" *ngIf="errormessage">
              {{errormessage}}
            </p>
                <ion-content direction="y" scrollY="true" style="height: 80%;">
            <ion-card-content>

              <ion-item no-padding>
                  <ion-label stacked><p>Location</p><small> (please select a city from dropdown first)</small></ion-label>
                  <ion-input [(ngModel)]="form2data.map_address" (keyup)="loadMap()" id="txtHome" type="text" placeholder="Enter a location to pick from map"></ion-input>
                </ion-item>

                  <ion-item no-padding>
                      <ion-label stacked>
                        <p>Full Address</p>
                      </ion-label>
                      <ion-input (ionChange)="errormessage=''" [(ngModel)]="form2data.full_address" placeholder="Enter Full Address"></ion-input>
                    </ion-item>


                  <agm-map
                  [disableDefaultUI]="false"
                  [zoomControl]="false" (mapClick)="mapClicked($event)" style="height:50vh" [latitude]="latmap" [longitude]="lngmap" [scrollwheel]="false" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                  </agm-map>
            </ion-card-content>
            <div  style="margin-bottom: 80px" ></div>
          </ion-content>
        </ion-card>
      </ion-slide>
      <ion-slide style="height: 100vh">
        <ion-card style="height: 100vh;">
            <ion-card-header>
              Step 3/5
            </ion-card-header>
            <!-- <hr> -->
            <p style="color: red" *ngIf="errormessage">
              {{errormessage}}
            </p>
            <ion-content direction="y" scrollY="true" style="height:80vh;">
              <ion-card-content>
              <ion-list>
                <ion-item>
                    <ion-label stacked>
                        <div>
                          <p>Hall Capacity<span style="color: red" > *</span></p>
                        </div>
                      </ion-label>
                      <ion-input type="number" (ionChange)="errormessage = ''"  [(ngModel)]="form3data.capacity" placeholder="Hall Capacity">
                      </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>
                        <div>
                            <p>Permitted Food Type<span style="color: red"> *</span></p>
                        </div>
                      </ion-label>
                    </ion-item>
                    <ion-row radio-group>
                      <ion-col>
                        <ion-item>
                          <ion-label>All</ion-label>
                          <ion-radio  (ionSelect)="form3data.all_food_type = true;errormessage=''"></ion-radio>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item>
                          <ion-label>Veg Only</ion-label>
                          <ion-radio (ionSelect)="form3data.all_food_type = false;errormessage=''"></ion-radio>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                <ion-item>
                    <ion-label stacked>
                        <div>
                            <p>AC<span style="color: red"> *</span></p>
                        </div>
                      </ion-label>
                  </ion-item>
                    <ion-row radio-group>
                      <ion-col>
                        <ion-item>
                          <ion-label>Available</ion-label>
                          <ion-radio value="true" (ionSelect)="form3data.ac = true;errormessage=''"></ion-radio>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item>
                          <ion-label>Unavailable</ion-label>
                          <ion-radio value="false" (ionSelect)="form3data.ac = false;errormessage=''"></ion-radio>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <div *ngIf="form3data.ac">
                    <ion-item>
                          <ion-label stacked>
                              <div>
                                <p>AC Charge<span style="color: red" > *</span></p>
                              </div>
                            </ion-label>
                            <ion-input type="number" (ionChange)="errormessage = ''"  [(ngModel)]="form3data.ac_charge" placeholder="AC Charge">
                            </ion-input>
                    </ion-item>
                  </div>
                    <ion-item>
                        <ion-label stacked>
                          <div>
                              <p>Parking<span style="color: red"> *</span></p>
                          </div>
                        </ion-label>
                      </ion-item>
                        <ion-row radio-group>
                          <ion-col>
                            <ion-item>
                              <ion-label>Yes</ion-label>
                              <ion-radio value="true" (ionSelect)="form3data.parking = true;errormessage=''"></ion-radio>
                            </ion-item>
                          </ion-col>
                          <ion-col>
                            <ion-item>
                              <ion-label>No</ion-label>
                              <ion-radio value="false" (ionSelect)="form3data.parking = false;errormessage=''"></ion-radio>
                            </ion-item>
                          </ion-col>
                        </ion-row>
              </ion-list>
            </ion-card-content>
                <div  style="margin-bottom: 50px" ></div>
            </ion-content>
        </ion-card>
      </ion-slide>
      <ion-slide style="height: 100vh">
        <ion-card style="height: 100vh;">
            <ion-card-header>
              Step 4/5
            </ion-card-header>
            <hr>
            <hr>
            <p style="color: red" *ngIf="errormessage">
              {{errormessage}}
            </p>
            <button ion-button (click)="presentActionSheet()" >Pick Image</button>
            <p>(Max 5 images. your last image will be your cover image.)</p>
            <ion-content direction="y" scrollY="true" style="height: 80%;">
                <ion-card-content>
                  <ion-card *ngFor="let img of images"  style="position: relative" >
                    <img src="{{'data:image/jpeg;base64,' + img}}">
                    <div style="position: absolute; right: 2%; top: 2%" >
                      <ion-icon (click)="removeImage(img)" style="color: red;font-size: 50px" name="close-circle" ></ion-icon>
                    </div>
                  </ion-card>

                </ion-card-content>
                <div  style="margin-bottom: 80px" ></div>
            </ion-content>
        </ion-card>
      </ion-slide>
      <ion-slide style="height: 100vh">
        <ion-card style="height: 100vh;">
            <ion-card-header>
              Step 5/5
            </ion-card-header>
            <ion-card-content>
              <ion-content direction="y" scrollY="true" style="height:80vh;">
              <ion-list>
                <p>You have successfully added all details, now you add this product!</p>
                <ion-item>
                  <p>Hall Name: {{form1data.hallname}}</p>
                  <p>Booking Price: Rs {{form1data.price}}</p>
                  <p>Booking Advance: Rs {{form1data.booking_advance}}</p>
                  <p>Details: {{form1data.details}}</p>
                  <p>Search Tags: {{form1data.tags}}</p>
                </ion-item>
                <ion-item>
                <div *ngIf="form2data.same_as_business">
                    <p>Address: Same as business</p>
                </div>
                <div *ngIf="!form2data.same_as_business">
                    <p class="brk-p">Full Address: {{form2data.full_address}}</p>
                    <p class="brk-p">Location: {{form2data.map_address}}</p>
                </div>
                </ion-item>
                <ion-item>
                  <p>Hall capacity: {{form3data.capacity}}</p>
                  <p>Non veg food allowed: <span> {{form3data.all_food_type ? "Yes" : "No" }}</span></p>
                  <p>AC available: <span> {{form3data.ac ? "Yes" : "No" }}</span></p>
                <div *ngIf="form3data.ac">
                    <p>AC rate: Rs {{form3data.ac_charge}}</p>
                </div>
                  <p>Parking available: <span> {{form3data.parking ? "Yes" : "No" }}</span></p>
                </ion-item>
                <ion-item>
                  <div style="height: 50px"></div>
                </ion-item>
              </ion-list>
            </ion-content>
            </ion-card-content>
        </ion-card>
      </ion-slide>
  </ion-slides>
  <div style="position: fixed;bottom: 0px;width:100%; right: 0px">
    <ion-row style="height: fit-content" no-padding>
      <ion-col style="width: 25%">
        <div *ngIf="pageNo != 0">
          <ion-icon (click)="goToPrev()" style="font-size: 30px; position: absolute;left: 20px;" name="ios-arrow-back"></ion-icon>
        </div>
      </ion-col>
      <ion-col style="height: 100%; width: 50%">
        <ion-slides #sliderbubbles pager style=" width: 100%;height:30px;">
          <ion-slide *ngFor="let s of slides">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col style="width: 25%">
        <div *ngIf="pageNo < (len-1)">
          <ion-icon (click)="goToNext()" style="font-size: 30px; position: absolute;right: 20px;" name="ios-arrow-forward"></ion-icon>
        </div>
        <div *ngIf="pageNo == (len-1)">
            <ion-icon (click)="goToNext()" style="font-size: 30px; position: absolute;right: 20px;" name="checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
