<ion-header>
  <ion-navbar color="headers">
    <ion-title>Enquiries</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onOpenMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- dynamically generating the categories -->
    <ion-segment [(ngModel)]="category" color="energy" *ngIf="categories.length">
      <ion-segment-button *ngFor="let category of categories" value={{category.module_name}} (click)="getEnquiries(category)">
        {{category.module_name}}
      </ion-segment-button>
    </ion-segment>

  <ion-buttons end *ngIf="categories.length">
      <button small ion-button clear (click)="filterEnquiries()" icon-end>
        {{enquiry_type}}
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>

  <div [ngSwitch]="category">
    <div *ngFor="let category of categories">
      <ion-list *ngSwitchCase=category.module_name>

        <ion-list-header *ngIf="enquiries.length">
          {{category.module_name}} Enquiries
        </ion-list-header>

        <button ion-item *ngFor="let enquiry of enquiries" (click)="goToEnquiryDetails(enquiry,category.module_name)">
          <ion-thumbnail item-start>
            <img src={{this.imageUrl+enquiry.cover_image}} alt="image">
          </ion-thumbnail>

          <div item-end *ngIf="category.module_name=='Banquet Hall'">
            <h2>{{enquiry.hall_name}}</h2>
            <li>Enquiry time: {{enquiry.created_at}}</li>
          </div>

          <div item-end *ngIf="category.module_name=='Car Rental'">
            <h2>{{enquiry.car_company_name}} - {{enquiry.car_model}}</h2>
            <li>Enquiry time: {{enquiry.created_at}}</li>
          </div>

          <div item-end *ngIf="category.module_name=='Caterer'">
            <h2>{{enquiry.package_name}}</h2>
            <li>Enquiry time: {{enquiry.created_at}}</li>
          </div>

        </button>

          <p *ngIf="!next_page" text-center>
          {{message}}
          </p>

          <ion-infinite-scroll *ngIf="next_page" (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>

      </ion-list>
    </div>
  </div>

</ion-content>

