<ion-header>
  <ion-navbar color="headers">
    <ion-title>Enquiries</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onOpenMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div padding>
    <!-- dynamically generating the categories -->
    <ion-segment [(ngModel)]="category" color="energy">
      <ion-segment-button *ngFor="let category of categories" value={{category.module_name}} (click)="getEnquiries(category)">
        {{category.module_name}}
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="category">
    <div *ngFor="let category of categories">
      <ion-list *ngSwitchCase=category.module_name>
        
        <ion-list-header *ngIf="enquiries.length">
          {{category.module_name}} Active Enquiries
        </ion-list-header>
        <button ion-item *ngFor="let enquiry of enquiries" (click)="goToEnquiryDetails(enquiry)">
          <ion-thumbnail item-start>
            <img src={{this.apiUrl+enquiry.cover_image}}>
          </ion-thumbnail>
          <div item-end *ngIf="category.module_name=='Banquet Hall'">
            <h2>{{enquiry.hall_name}}</h2>
            Enquiry Id: #{{enquiry.serial_number}}
            <!-- 
              <b> Enquiry Information:</b>
              <ul>
                <li> Customer: {{enquiry.name}}</li>
                <li> Contact: {{enquiry.phone_number}}</li>
                <li> Duration: {{enquiry.book_from}} - {{enquiry.book_to}}</li>
                <li> Rate: Rs {{enquiry.book_rate}}/day</li>
              </ul>
              
              <button ion-button outline (click)="enquiryAction(enquiry.id,'Banquet Hall')">Action</button> -->
            </div>
            
            <div item-end *ngIf="category.module_name=='Car Rental'">
              <h2>{{enquiry.car_company_name}} - {{enquiry.car_model}}</h2>
              Enquiry Id: #{{enquiry.serial_number}}
              <!-- 
                <b> Enquiry Information:</b>
                <ul>
                  <li> Customer: {{enquiry.name}}</li>
                  <li> Contact: {{enquiry.phone_number}}</li>
                  <li> Rate: Rs {{enquiry.enq_rate_hour}}/hr or Rs {{enquiry.enq_rate_km}}/km</li>
                </ul>
                
                <button ion-button outline (click)="enquiryAction(enquiry.id,'Car Rental')">Action</button> -->
              </div>
              
              <div item-end *ngIf="category.module_name=='Caterer'">
                <h2>{{enquiry.package_name}}</h2>
                Enquiry Id: #{{enquiry.serial_number}}
                <!-- 
                  <b> Enquiry Information:</b>
                  <ul>
                    <li> Customer: {{enquiry.name}}</li>
                    <li> Contact: {{enquiry.phone_number}}</li>
                    <li> Booking Date: {{enquiry.date}}</li>
                    <li> Rate: Rs {{enquiry.enquiry_rate}}/plate</li>
                    <li> Status: {{enquiry.vendor_status}}</li>
                    <li> Enquiry Time: {{enquiry.created_at}}</li>
                  </ul>
                  
                  <button ion-button outline (click)="enquiryAction(enquiry.id,'Caterer')">Action</button> -->
                </div>
                
              </button>
              
              <ion-list-header *ngIf="enquiries_history.length">
                {{category.module_name}} Enquiries History
              </ion-list-header>
              
              <button ion-item *ngFor="let history of enquiries_history" (click)="goToEnquiryDetails(history)">
                <ion-thumbnail item-start>
                  <img src={{this.apiUrl+history.cover_image}}>
                </ion-thumbnail>
                
                <div *ngIf="category.module_name=='Banquet Hall'" item-end>
                  <h2>{{history.hall_name}}</h2>
                  Enquiry Id: #{{history.serial_number}}
                  <!-- <b> Enquiry Information:</b>
                    <ul>
                      <li> Customer: {{history.name}}</li>
                      <li> Contact: {{history.phone_number}}</li>
                      <li> Duration: {{history.book_from}} - {{history.book_to}}</li>
                      <li> Rate: Rs {{history.book_rate}}/day</li>
                      <li> Status: {{history.vendor_status}}</li>
                    </ul> -->
                  </div>
                  
                  <div *ngIf="category.module_name=='Car Rental'" item-end>
                    <h2>{{history.car_company_name}} - {{history.car_model}}</h2>
                    Enquiry Id: #{{history.serial_number}}
                    <!-- 
                      <b> Enquiry Information:</b>
                      <ul>
                        <li> Customer: {{history.name}}</li>
                        <li> Contact: {{history.phone_number}}</li>
                        <li> Rate: Rs {{history.enq_rate_hour}}/hr or Rs {{history.enq_rate_km}}/km</li>
                        <li> Status: {{history.vendor_status}}</li>
                      </ul> -->
                    </div>
                    
                    <div *ngIf="category.module_name=='Caterer'" item-end>
                      <h2>{{history.package_name}}</h2>
                      Enquiry Id: #{{history.serial_number}}
                      <!-- 
                        <b> Enquiry Information:</b>
                        <ul>
                          <li> Customer: {{history.name}}</li>
                          <li> Contact: {{history.phone_number}}</li>
                          <li> Booking Date: {{history.date}}</li>
                          <li> Rate: Rs {{history.enquiry_rate}}/plate</li>
                          <li> Status: {{history.vendor_status}}</li>
                          <li> Enquiry Time: {{history.updated_at}}</li>
                        </ul> -->
                      </div>
                      
                    </button>
                    
                    <p *ngIf="!enquiries_history.length && !enquiries.length" text-center>
                      {{message}}
                    </p>
                    
                  </ion-list>
                </div>
              </div>
            </ion-content>
            
